$preto: #000;
$branco: #FFF;
$cinza: #333;
$cinza-claro: #E4E4E4;
$amarelo: yellow;
$vermelho: red;
$azul: blue;

body {
	background-color: $cinza-claro;
	font-family: Verdana;
}

h1 {
	font-family: Arial;
	color: $preto;
}

h2 {
	color: $preto;
}