$preto: #000;
$branco: #FFF;
$cinza: #333;
$cinza-claro: #E4E4E4;
$amarelo: yellow;
$vermelho: red;
$azul: blue;

body {
	padding-top: 10px;
	padding-right: 20px;
	background-color: $cinza-claro;
	font-family: Verdana;
}
